<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{script.js}" />

</head>
<body>
<div class="jumbotron">
    <h1>Message Me!</h1>
    <div class="container">

        <div class="btn-group">
            <a type="button" class="btn btn-default"  href="newUser">New User</a>
            <div class="col-sm-7" style="margin:20px 0px 20px 0px">
                <button id="getAllUsers" onclick="findAll()" type="button" class="btn btn-primary">Get All Users</button>
                <div id="getResultDiv" style="padding:20px 10px 20px 50px">
                    <ul id="allUserNamesList" class="list-group">
                    </ul>
                </div>
            </div>
        </div>

        <div class="btn-group">
            <a type="button" class="btn btn-default"  href="newMessage">New Message</a>
          

        </div>
    </div>
</div>
</body>
</html>