<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{script.js}"/>

</head>

<body>

<div class="container">
    <form id="sendMessageForm">
    <div class="form-group">

            <label for="messageBody">sender:</label>
            <input type="text" id="messageSenderName" class="form-control" />
        <label for="messageBody">Send To:</label>
        <select id="messageReceiverName" class="selectpicker">
            <option>Gandalf</option>
            <option>Balrog</option>
            <option>Frodo</option>
        </select>

        <label for="messageBody">message:</label>
            <textarea class="form-control" id="messageBody" rows="5" ></textarea>
            <button onclick="sendMessage()" class="btn btn-default" style="margin-left:20px; margin-right:5px">Send</button>

    </div>
    </form>
</div>


</body>
</html>